html, body {
    margin: 0;
}

.game-container {
    height: max-content;
    width: max-content;
    border: solid 3px rgba(160, 126, 126, 0.486);
}

/*========= lateral menu ==========*/

#lateral-container {
    position: relative;
    left: 1505px;
    top: -510px;
    width: 250px;
    height: 1500px;
    border: solid 1px red;
}