html, body {
    margin: 0;
    width: max-content;
}
body {
    /* overflow: hidden; */
}

.game-container {
    height: max-content;
    width: max-content;
    border: solid 3px rgba(160, 126, 126, 0.486);
}
progress {
    position: absolute;
    width: 40px;
    height: 10px;
}



#ranking {
    width: 300px;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.369);
    position: fixed;
    top: 0px;
    left: 100%;
    transform: translateX(-100%);
    color: white;
    padding: 20px;
}
#ranking > h2 {
    text-align: center;
}
.player-ranking {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.no-wifi-icon {
    transition: all 0.5s;
    animation-name: noWifi;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    position: relative;
    transform: scale(0.7);
}
@keyframes noWifi {
    33.333% { transform: scale(0.7); }
    66.666% { transform: scale(1); }
    100% { transform: scale(0.7); }
}

/* ------------ initial screen --------------- */

.blur-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/background-blur.jpeg');
    opacity: 0.7;

}

.initial-container {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.dead-screen {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    left: -50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: 0.5s;
}
.info-dead {
    font-size: 1.05rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.result-info-dead {
    font-weight: 400;
}
.dead-btns-container {
    margin-top: 40px;
    text-align: center;
}
.dead-btns-container > button {
    width: 100%;
}
.logo-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.actions-container {
    width: 70%;
    margin:auto;
}
.actions-container > input {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 15px;
}
.btns-container {
    display: flex;
    justify-content: space-between;
}
.btn {
    border: none;
    padding: 10px;
    width: 49%;
    margin-top: 5px;
    color: white;
    border-radius: 2px;
    font-family: monospace;
    cursor: pointer;
}
.btn-play {
    background-color: green;
}
.btn-spectate {
    background-color: rgb(220, 125, 0);
}

.error-msg {
    text-align: center; 
    color: red; 
    margin-top: 15px; 
}
