html, body {
    margin: 0;
    width: max-content;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background-color: #857d4d;
}

.game-container {
    height: max-content;
    width: max-content;
    border: solid 3px rgba(160, 126, 126, 0.386);
}

@media screen and (max-width: 1000px) {
    .game-container {
        height: 120vh;
        width: 120vw;
        border: solid 1px red;
        overflow: hidden;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .body {
        overflow: hidden;
    }
}

progress {
    position: absolute;
    width: 40px;
    height: 10px;
}

#ranking {
    width: 300px;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.369);
    position: fixed;
    top: 0px;
    left: 100%;
    transform: translateX(-100%);
    color: white;
    padding: 20px;
}

#ranking > h2 {
    text-align: center;
}

.player-ranking {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.no-wifi-icon {
    transition: all 0.5s;
    animation-name: noWifi;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    position: relative;
    transform: scale(0.7);
}

@keyframes noWifi {
    33.333% { transform: scale(0.7); }
    66.666% { transform: scale(1); }
    100% { transform: scale(0.7); }
}


.input-healt {
    position: absolute;
}

/* ------------ initial screen --------------- */
.container {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 5px;
    transition: 1.3s;
}

.blur-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    background-image: url('./images/background-blur.jpeg');
    opacity: 0.7;
    z-index: 1;
}

.initial-container {
    left: 50%;
    top: 50%;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.actions-container {
    width: 70%;
    margin:auto;
}
.actions-container > input {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 15px;
}
.btns-container {
    display: flex;
    justify-content: space-between;
}
.btn {
    border: none;
    padding: 10px;
    width: 49%;
    margin-top: 5px;
    color: white;
    border-radius: 2px;
    font-family: monospace;
    cursor: pointer;
}
.btn-play {
    background-color: green;
}
.btn-spectate {
    background-color: rgb(220, 125, 0);
}

.error-msg {
    text-align: center; 
    color: red; 
    margin-top: 15px; 
}


/* ----------------------- dead screen ------------------------ */

.dead-container {
    left: -150%;
    top: 50%;
}
.dead-container .logo-container {
    margin-top: 60px;
}


.disconnected-container {
    left: -150%;
    top: 50%;
}
.disconnected-container  img {
    margin-top: 50px;
}


/* Loading spinner  */

.fa-spinner {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: loading;
}

@keyframes loading {
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}